In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/Final_HousePrices.csv')
df.head(5)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65,8450,Pave,NoAccess,Reg,Lvl,AllPub,Inside,...,0,No Pool,No Fence,None,0,2,2008,WD,Normal,208500
1,20,RL,80,9600,Pave,NoAccess,Reg,Lvl,AllPub,FR2,...,0,No Pool,No Fence,None,0,5,2007,WD,Normal,181500
2,60,RL,68,11250,Pave,NoAccess,IR1,Lvl,AllPub,Inside,...,0,No Pool,No Fence,None,0,9,2008,WD,Normal,223500
3,70,RL,60,9550,Pave,NoAccess,IR1,Lvl,AllPub,Corner,...,0,No Pool,No Fence,None,0,2,2006,WD,Abnorml,140000
4,60,RL,84,14260,Pave,NoAccess,IR1,Lvl,AllPub,FR2,...,0,No Pool,No Fence,None,0,12,2008,WD,Normal,250000

In [3]:
df.shape

(1460, 80)

In [4]:
df.isnull().sum()

MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 80, dtype: int64

In [5]:
from sklearn.model_selection import train_test_split

X = df.iloc[:, 0: 79]
y = df['SalePrice']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=.7, test_size=.3, random_state=1)

In [6]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((1021, 79), (1021,), (438, 79), (438,))

In [7]:
df_credit_card = pd.read_csv("../datasets/creditcarddefault.csv")
df_credit_card.shape

(30000, 25)

In [8]:
df_credit_card.head(5)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [9]:
X = df_credit_card.iloc[:, 0: 24]
y = df_credit_card['default payment next month']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, test_size=0.3, stratify=y)

In [10]:
print(y_train.value_counts())
print(y_test.value_counts())

print(y_train.value_counts(normalize=True))

print(y_test.value_counts(normalize=True))

0    16355
1     4645
Name: default payment next month, dtype: int64
0    7009
1    1991
Name: default payment next month, dtype: int64
0    0.77881
1    0.22119
Name: default payment next month, dtype: float64
0    0.778778
1    0.221222
Name: default payment next month, dtype: float64

# cross validation

In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt